body {
  padding: 0;
  margin: 0;
}
#tab-bar {
  background-color: rgb(35, 36, 37);
  border-bottom: 1px solid rgb(60, 61, 63);
  white-space: nowrap;
  overflow: hidden;
}
.tab {
  padding: 0;
  background-color: rgb(40, 41, 43);
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-right: 1px solid rgb(60, 61, 63);
}
.tab button:hover {
  background-color: rgb(60, 61, 63);
}
.tab button.active {
  background-color: rgb(55, 56, 57);
}
.tabcontent {
  display: none;
  padding: 12px;
}