@font-face {
    font-family: 'CmdMono';
    src: url('https://www.coley.software/css/assets/cour.ttf');
}
/* ================================== */
* { 
	box-sizing: border-box; 
}
a { 
	color: rgb(100, 170, 252);
}
/* ================================== */
/* Limit how big terminal can get vertically */
.terminal .resizable pre {
	max-height: 455px;
}
/* ================================== */
.resizable {
	overflow: scroll;
	resize: both;
}
.terminal pre * {
	font-family: CmdMono, monospaced;
	font-size: 12px;
}
.title {
	position: relative;
	top: -1px;
}
